body {

    background-image: url("../imagens/arte2.jpg");
    
    background-size: 120%;
    background-color: rgb(179, 48, 0);
   
}



.conteiner{
    background-color: rgba(55, 10, 12, 0.5);

    text-align: center;
    position: absolute;
    display: block;
    padding: 10px 80px;
    color: rgb(255, 255, 255);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;

margin-top: 80px;
left: 50%;
top:40%;
transform: translate(-50%,-50% );
border: 16px;
border-radius: 10px;



}
input{
    padding: 10px;
    border-radius: 10px;
}
input:hover{
    background-color:  rgba(255, 255, 255, 0.5) ;
}





.services{
    background-color: rgba(6, 56, 181, 0.5);
    border: none;
    padding: 5px;
    width: 100%;
    border-radius: 10px;
    font-size: 15px;
    color: rgb(244, 240, 240);
    
}


button{
    background-color: rgba(255, 255, 255, 0.5) ;
    border: none;
    padding: 15px;
    width: 100%;
    border-radius: 10px;
    font-size: 15px;
}
button:hover{
    background-color: rgba(10,23,55,0.5) ;
    cursor: pointer;
}

footer{
    position: absolute;
    bottom: 0;
    left:40%;
    font-size: 15px;

}
@media screen and (max-width: 987px){
    body{
      
        background-size: 180%;
    
}}
@media screen and (max-width: 660px){
    body{
      background-image: url(./../imagens/arte2.jpg);
        background-size: 440%;
    
}}
@media screen and (max-width: 260px){
    body{
      background-image: url(./../imagens/arte2.jpg);
        background-size: 1000%;
    
}}